node_modules/
dist/
build/
release/
.env
data/workspaces.json
data/workspaces.json.*.tmp
data/workspaces/index.json
.DS_Store
npm-debug.log*
*.local
*.tsbuildinfo
.claude/
temp/
data/workspaces/board-initial.json
data/workspaces/board-moiuk4q1-i27n4j.json
data/workspaces/board-mojnnfzs-a29xqy.json
data/workspaces/board-mojo1hg3-esq21b.json
data/workspaces/board-mojokf2y-fjhsl6.json
data/workspaces/board-mojonhzs-6554mk.json
data/workspaces/board-mojp0g2v-105k9z.json
data/workspaces/board-mojph4x3-eeat7y.json
data/workspaces/board-mojpqb3a-7cna24.json
data/workspaces/board-mojprxcd-s8fvby.json
data/workspaces/board-mojqgqw4-07psti.json
data/workspaces/board-mojqxj5v-kql0gr.json
data/workspaces/board-mok1yjkp-pxrzsn.json
data/workspaces/board-mok3j3mt-iio6q1.json
data/workspaces/board-mok8kh4z-rp90zi.json
data/workspaces/board-mok8u8qo-gz5v8l.json
data/workspaces/board-mok22qa9-46v5q2.json
data/workspaces/board-mol8pywd-xro5kd.json
data/workspaces/board-mol92ulj-8htsex.json
data/workspaces/board-mol905vt-31pqjh.json
data/workspaces/board-molemvsi-cr5t62.json
data/workspaces/book-mopts7nq-hi85jj.json
data/workspaces/book-moptvqtd-4ib4us.json
data/workspaces/book-mopuf3dg-0qsk00.json
data/workspaces/book-mopy3j1b-6du2ez.json
data/workspaces/book-mopza1mh-czemef.json
data/workspaces/book-mopzsw0k-7u6304.json
data/workspaces/book-moq0eezr-h3gedc.json
data/workspaces/book-moq1kaud-c4b0ee.json
data/workspaces/book-moq10zml-kvwwip.json
data/
